.btn-transparent, .btn-colored {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3125;
  text-align: center;
}

.btn-transparent, .btn-colored {
  border-radius: 38.5px;
}

.btn-transparent, .btn-colored {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 237px;
  height: 68px;
}

.menu-toggle, .header__search-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* == GLOBAL STYLES RESET == */
/* headings and paragraphs */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* responsive images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* address */
address {
  font-style: normal;
}

/* ul */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */
.btn {
  padding: 0;
  cursor: pointer;
  outline-style: none;
}

/* a */
.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* === VISUALLY HIDDEN === */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* == BASIC PAGE STYLES == */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

/* === CONTAINER === */
.container {
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

/* === BUTTONS === */
/* == Colored buttons == */
.btn-colored {
  font-family: "Open Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background-color: #E43071;
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-colored--benefits {
    width: 208px;
    height: 56px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-colored--cta {
    width: 287px;
    height: 56px;
  }
}
.btn-colored-text {
  color: inherit;
  -webkit-transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-colored:hover {
  background-color: #BE285E;
}
.btn-colored:focus {
  border: 9px solid #FFDAE7;
}
.btn-colored:hover .btn-colored-text, .btn-colored:focus .btn-colored-text {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* == Transparent buttons == */
.btn-transparent {
  position: relative;
  border: 2px solid #E43071;
  color: #E43071;
  background-color: transparent;
  -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-transparent:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 10px solid transparent;
  border-radius: 38.5px;
  -webkit-transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-transparent--faq {
    width: 287px;
    height: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-transparent--facilities {
    width: 288px;
    height: 63px;
  }
}
.btn-transparent-text {
  color: inherit;
  -webkit-transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-transparent:hover {
  color: #BE285E;
  border-color: #BE285E;
  background-color: #F7F7FC;
}
.btn-transparent:focus {
  border: 8px solid #FFDAE7;
}
.btn-transparent:focus:before {
  border-color: #BE285E;
}
.btn-transparent:hover .btn-transparent-text, .btn-transparent:focus .btn-transparent-text {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* === LOGO === */
.logo {
  font-weight: 800;
  color: #FFFFFF;
  -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* == Logo in header ==  */
.header__logo {
  font-size: 21.8182px;
  line-height: 1.0999990833;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 203px;
    font-size: 40px;
    line-height: 1.1;
  }
}
.header__logo:hover, .header__logo:focus {
  color: #FFC1D8;
}
.header__logo--lyfe {
  color: #FFC1D8;
  -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:hover .header__logo--lyfe, .header__logo:focus .header__logo--lyfe {
  color: #FFFFFF;
}

/* == Logo in footer ==  */
.footer__logo {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 25.6684px;
  line-height: 1.0901728703;
}
.footer__logo:hover, .footer__logo:focus {
  color: #E43071;
}
.footer__logo--lyfe {
  color: #E43071;
  -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo:hover .footer__logo--lyfe, .footer__logo:focus .footer__logo--lyfe {
  color: #FFFFFF;
}

/* === HEADER === */
.header {
  height: 64px;
  background-color: #E43071;
}
@media screen and (min-width: 768px) {
  .header {
    height: 101px;
  }
}
.header__container {
  padding-left: 16px;
  padding-right: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-left: 36px;
    padding-right: 41px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-item:not(:last-child) {
    margin-right: 76px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    text-transform: capitalize;
    color: #FFFFFF;
    -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-link:hover, .header__nav-link:focus {
    color: #FFC1D8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.header__buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search-form {
  margin-right: 25px;
}
@media screen and (min-width: 768px) {
  .header__search-form {
    margin-right: 37px;
  }
}
.header__search-input {
  display: none;
}
.header__search-text {
  margin-right: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .header__search-text {
    display: none;
  }
}
.header__search-icon {
  fill: #FFFFFF;
  -webkit-transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__search-button:hover .header__search-icon {
  fill: #FFC1D8;
}
.header__btn-login {
  width: 166px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__btn-login {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__btn-login {
    width: 100px;
  }
}
.header__btn-login:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menu-toggle {
  fill: #FFFFFF;
  -webkit-transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #FFC1D8;
}

/* === HERO === */
.hero {
  margin-bottom: 35px;
  height: 423px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 94px;
    height: 697px;
  }
}
.hero__container {
  position: relative;
  height: 100%;
}
.hero__swiper-wave-wrap::after {
  position: absolute;
  left: 0px;
  bottom: -1px;
  z-index: 999;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .hero__swiper-wave-wrap::after {
    width: 340px;
    height: 25px;
    background-image: url(../images/wave/wave-mobile-320.png);
  }
}
@media screen and (min-width: 768px) {
  .hero__swiper-wave-wrap::after {
    width: 1460px;
    height: 35px;
    background-image: url(../images/wave/wave-desktop-1440.png);
  }
}
.hero__swiper-pagination {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__swiper-pagination {
    margin-bottom: 43px;
  }
}
.hero .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 1;
}
.hero .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}
.hero .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: #E43071;
}
.hero__title {
  position: absolute;
  top: 103px;
  left: 0;
  z-index: 999;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    top: 241px;
    left: 370px;
    width: 700px;
    font-size: 70px;
    line-height: 1.1;
  }
}
.hero__title--lyfe {
  color: #FFC1D8;
}
.hero__btn {
  position: absolute;
  top: 192px;
  left: 160px;
  z-index: 999;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .hero__btn {
    top: 421px;
    left: 720px;
  }
}

/* === FAQ === */
.faq {
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .faq {
    margin-bottom: 122px;
  }
}
.faq__container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .faq__container {
    padding-left: 141px;
    padding-right: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.faq__img-wrap {
  position: relative;
  width: 262px;
  height: 313px;
}
@media screen and (max-width: 767px) {
  .faq__img-wrap {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .faq__img-wrap {
    width: 440px;
    height: 503px;
  }
}
.faq__img {
  position: absolute;
}
.faq__img:nth-child(1) {
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .faq__img:nth-child(1) {
    width: 347px;
    height: 399px;
  }
}
.faq__img:nth-child(2) {
  bottom: 0px;
  right: 0px;
}
@media screen and (min-width: 768px) {
  .faq__img:nth-child(2) {
    width: 241px;
    height: 359px;
  }
}
.faq__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.faq__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #E43071;
}
@media screen and (min-width: 768px) {
  .faq__title {
    margin-bottom: 6px;
    line-height: 1.5;
  }
}
.faq__text {
  margin-bottom: 42px;
  width: 269px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .faq__text {
    margin-bottom: 19px;
    width: 540px;
    line-height: 2.3125;
  }
}

/* === CTA === */
.cta {
  margin-bottom: 74px;
  height: 443px;
}
@media screen and (min-width: 768px) {
  .cta {
    margin-bottom: 224px;
    height: 700px;
  }
}
.cta__container {
  position: relative;
  height: 100%;
}
.cta__swiper {
  width: 320px;
  height: 443px;
}
@media screen and (min-width: 768px) {
  .cta__swiper {
    width: 1440px;
    height: 700px;
  }
}
.cta__swiper-pagination {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .cta__swiper-pagination {
    margin-bottom: 26px;
  }
}
.cta .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 1;
}
.cta .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}
.cta .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: #E43071;
}
.cta__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .cta__text-wrap {
    padding-top: 231px;
  }
}
.cta__title {
  margin-bottom: 25px;
  width: 252px;
  font-weight: 700;
  font-size: 42.4615px;
  line-height: 1.0833343146;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 53.0769px rgba(0, 0, 0, 0.46023);
}
@media screen and (min-width: 768px) {
  .cta__title {
    width: 850px;
    font-size: 60px;
    line-height: 1.5;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46023);
  }
}
.cta__text {
  margin-bottom: 10px;
  width: 257px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .cta__text {
    margin-bottom: 20px;
    width: 433px;
    font-size: 17px;
    line-height: 1.3529411765;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

/* === FACILITIES === */
.facilities {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .facilities {
    margin-bottom: 108px;
  }
}
.facilities__container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .facilities__container {
    padding-left: 155px;
    padding-right: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.facilities__img-wrap {
  position: relative;
  width: 275px;
  height: 198px;
}
@media screen and (max-width: 767px) {
  .facilities__img-wrap {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .facilities__img-wrap {
    width: 572px;
    height: 435px;
  }
}
.facilities__img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .facilities__img:nth-child(1) {
    width: 444px;
    height: 296px;
  }
}
.facilities__img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .facilities__img:nth-child(2) {
    width: 422px;
    height: 281px;
  }
}
.facilities__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.facilities__title {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #E43071;
}
@media screen and (min-width: 768px) {
  .facilities__title {
    margin-bottom: 4px;
    line-height: 1.5;
  }
}
.facilities__text {
  margin-bottom: 36px;
  width: 269px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .facilities__text {
    margin-bottom: 19px;
    width: 489px;
    line-height: 2.3125;
  }
}

/* === REVIEWS === */
.reviews {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #F4E3E9;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F4E3E9;
}
@media screen and (min-width: 768px) {
  .reviews {
    height: 900px;
  }
}
.reviews__container {
  padding-top: 48px;
  padding-left: 28px;
  padding-bottom: 37px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .reviews__container {
    padding-top: 126px;
    padding-left: 254px;
    padding-bottom: 81px;
  }
}
.reviews__title {
  margin-bottom: 6.44px;
  width: 225px;
  font-weight: 600;
  font-size: 26.1389px;
  line-height: 1.1859718657;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    margin-bottom: 12px;
    width: 414px;
    font-size: 48px;
    line-height: 1.1875;
  }
}
.reviews__subtitle {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 9.8021px;
  line-height: 1.5302843268;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .reviews__subtitle {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .reviews__list::-webkit-scrollbar {
    width: 1px;
  }
  .reviews__list::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #D37899;
  }
  .reviews__list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #E43071;
  }
}
@media screen and (min-width: 768px) {
  .reviews__list {
    position: relative;
  }
}
.reviews__card {
  margin-bottom: 10px;
  padding: 24px 22px 25px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 243px;
  height: 306px;
  border-radius: 6.96629px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0.696629px 2.78652px 5.57303px rgba(0, 0, 0, 0.18);
          box-shadow: 0.696629px 2.78652px 5.57303px rgba(0, 0, 0, 0.18);
  -webkit-transition: -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__card:hover, .reviews__card:focus {
  -webkit-box-shadow: 3.45px 13.9px 27.85px rgba(0, 0, 0, 0.6);
          box-shadow: 3.45px 13.9px 27.85px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 767px) {
  .reviews__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83%;
            flex: 0 0 83%;
    scroll-snap-align: start;
  }
}
@media screen and (min-width: 768px) {
  .reviews__card {
    position: absolute;
    padding: 35px 32px 36px 27px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.18);
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.18);
  }
}
@media screen and (min-width: 768px) {
  .reviews__card:nth-child(1) {
    top: 0;
    left: 97px;
    width: 349px;
    height: 445px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__card:nth-child(2) {
    top: -141px;
    left: 479px;
    padding-top: 46px;
    width: 449px;
    height: 343px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__card:nth-child(3) {
    top: 235px;
    left: 479px;
    padding-top: 31px;
    padding-bottom: 30px;
    width: 351px;
    height: 278px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__card:not(:last-child) {
    margin-right: 27px;
  }
}
.reviews__card-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 26.4719px;
  line-height: 1.2088289847;
  color: #E43071;
}
@media screen and (min-width: 768px) {
  .reviews__card-title {
    font-size: 38px;
    line-height: 1.1842105263;
  }
}
.reviews__text-wrap {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__text-quots {
  margin-right: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 15px;
  fill: rgba(228, 48, 113, 0.3);
}
@media screen and (min-width: 768px) {
  .reviews__text-quots {
    width: 29px;
    height: 24px;
  }
}
.reviews__card-text {
  width: 100%;
  font-weight: 400;
  font-size: 12.5393px;
  line-height: 1.7544839026;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .reviews__card-text {
    font-size: 18px;
    line-height: 1.7777777778;
  }
}
.reviews__customer {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__customer-img {
  margin-right: 13px;
}
@media screen and (min-width: 768px) {
  .reviews__customer-img {
    width: 59px;
    height: 59px;
  }
}
.reviews__customer-name {
  font-weight: 600;
  font-size: 12.5393px;
  line-height: 1.9139824392;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .reviews__customer-name {
    font-size: 18px;
    line-height: 1.7777777778;
  }
}
.reviews__customer-type {
  font-weight: 400;
  font-size: 9.75281px;
  line-height: 1.230414619;
  color: #969BAB;
}
@media screen and (min-width: 768px) {
  .reviews__customer-type {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

/* === APP === */
.app {
  background-color: #E43071;
}
.app__container {
  padding: 56px 15px 0;
  height: 950px;
  overflow-y: visible;
}
@media screen and (min-width: 768px) {
  .app__container {
    padding: 112px 147px 0 238px;
    height: 491px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.app__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .app__title {
    margin-bottom: 4px;
    line-height: 1.5;
  }
}
.app__text {
  margin-bottom: 38px;
  width: 269px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.0625;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .app__text {
    margin-bottom: 22px;
    width: 489px;
    line-height: 2.3125;
  }
}
.app__cta {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}
.app__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .app__btn-list {
    margin-bottom: 39px;
  }
}
@media screen and (min-width: 768px) {
  .app__btn-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.app__btn-item:not(:last-child) {
  margin-right: 12px;
}
.app__img-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 290px;
  height: 333px;
}
@media screen and (min-width: 768px) {
  .app__img-list {
    width: 496px;
    height: 598px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.app__img-item {
  width: 167px;
  height: 333px;
}
@media screen and (min-width: 768px) {
  .app__img-item {
    width: 232px;
    height: 464px;
  }
}
@media screen and (min-width: 768px) {
  .app__img-item:first-child {
    position: absolute;
    top: -134px;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .app__img-item:last-child {
    position: absolute;
    top: 122px;
    left: 210px;
    overflow-y: visible;
  }
}
.app__wrap {
  -webkit-filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
          filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}
@media screen and (min-width: 768px) {
  .app__wrap {
    width: 100%;
    height: 100%;
  }
}
.app__img-item:last-child .app__wrap {
  position: relative;
}
@media screen and (max-width: 767px) {
  .app__img-item:last-child .app__wrap {
    width: 166.5px;
    height: 100%;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 768px) {
  .app__img-item:last-child .app__wrap {
    width: 232px;
    height: 380px;
    overflow-y: hidden;
  }
}
.app__screen, .app__mockup {
  position: absolute;
  top: 166.5px;
  left: 83.5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .app__screen, .app__mockup {
    max-width: 167px;
  }
}
@media screen and (min-width: 768px) {
  .app__screen, .app__mockup {
    top: 232px;
    left: 116px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 202px;
    height: 438px;
  }
}
@media screen and (min-width: 768px) {
  .app__mockup {
    width: 232px;
    height: 464px;
  }
}
@media screen and (min-width: 768px) {
  .app__screen {
    width: 202px;
    height: 438px;
  }
}

/* === SOCIAL === */
.social {
  background-color: #EDEDED;
}
@media screen and (min-width: 768px) {
  .social {
    position: relative;
    z-index: 999;
  }
}
.social__container {
  padding-top: 44px;
  padding-bottom: 66px;
}
@media screen and (min-width: 768px) {
  .social__container {
    padding-top: 64px;
    padding-bottom: 71px;
  }
}
.social__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color: #E43071;
}
@media screen and (min-width: 768px) {
  .social__title {
    margin-bottom: 18px;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 25px;
}
@media screen and (min-width: 768px) {
  .social__item:not(:last-child) {
    margin-right: 90px;
  }
}
.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  -webkit-transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .social__link {
    width: 110px;
    height: 110px;
  }
}
.social__link:hover {
  background-color: #F7F7FC;
  border: 1px solid #BE285E;
}
.social__icon {
  -webkit-transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:nth-child(1) .social__icon {
  width: 14.96px;
  height: 29.95px;
}
.social__item:nth-child(2) .social__icon {
  width: 24.83px;
  height: 29.92px;
}
.social__item:nth-child(3) .social__icon {
  width: 30px;
  height: 30px;
}
.social__link:hover .social__icon {
  fill: #BE285E;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

/* === FOOTER === */
.footer {
  background-color: #0B0D17;
}
.footer__container {
  padding: 40px 32px 25px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 96px 165px 24px;
  }
}
.footer__upper {
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .footer__upper {
    margin-bottom: 105px;
    display: grid;
    grid-template-columns: 255px repeat(3, 1fr);
    gap: 40px;
  }
}
.footer__text {
  margin-bottom: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #D9DBE1;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__social-list {
    margin-bottom: 43px;
  }
}
.footer__social-item:not(:last-child) {
  margin-right: 16px;
}
.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: #FFFFFF;
}
.footer__social-icon {
  fill: #FFFFFF;
  -webkit-transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover .footer__social-icon, .footer__social-link:focus .footer__social-icon {
  fill: #BE285E;
}
.footer__block-title {
  margin-bottom: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer__nav, .footer__guide-list {
    margin-bottom: 43px;
  }
}
.footer__nav-item:not(:last-child), .footer__guide-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__nav-link, .footer__guide-link, .footer__address-link, .footer__terms-link {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #D9DBE1;
  -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav-link:hover, .footer__nav-link:focus, .footer__guide-link:hover, .footer__guide-link:focus, .footer__address-link:hover, .footer__address-link:focus, .footer__terms-link:hover, .footer__terms-link:focus {
  color: #BE285E;
}
@media screen and (min-width: 768px) {
  .footer__nav-link, .footer__guide-link, .footer__address-link, .footer__terms-link {
    display: inline-block;
  }
}
.footer__address-item:not(:last-child) {
  margin-bottom: 24px;
}
.footer__address-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__address-icon {
  margin-right: 8px;
  fill: #E43071;
  -webkit-transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover .footer__address-icon {
  fill: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.footer__terms-list {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__terms-item:nth-child(2n+1) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .footer__terms-item:nth-child(2) {
    margin-right: 20px;
  }
}
.footer__terms-link {
  position: relative;
  display: inline-block;
}
.footer__terms-item:nth-child(2n+1) .footer__terms-link::after {
  position: absolute;
  top: 0;
  right: -8px;
  content: "l";
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__terms-item:nth-child(2) .footer__terms-link::after {
    position: absolute;
    top: 0;
    right: -8px;
    content: "l";
    color: #FFFFFF;
  }
}
.footer__rights {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #D9DBE1;
}/*# sourceMappingURL=main.css.map */