.btn-transparent, .btn-colored {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3125;
  text-align: center;
}

.btn-transparent, .btn-colored {
  border-radius: 38.5px;
}

.btn-transparent, .btn-colored {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 237px;
  height: 68px;
}

.menu-toggle, .header__search-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* == GLOBAL STYLES RESET == */
/* headings and paragraphs */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* responsive images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* address */
address {
  font-style: normal;
}

/* ul */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */
.btn {
  padding: 0;
  cursor: pointer;
  outline-style: none;
}

/* a */
.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* === VISUALLY HIDDEN === */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* == BASIC PAGE STYLES == */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* === CONTAINER === */
.container {
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

/* === BUTTONS === */
/* == Colored buttons == */
.btn-colored {
  font-family: "Open Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background-color: #E43071;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-colored--benefits {
    width: 208px;
    height: 56px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-colored--cta {
    width: 287px;
    height: 56px;
  }
}
.btn-colored:hover {
  background-color: #BE285E;
}
.btn-colored:focus {
  border: 9px solid #FFDAE7;
}

/* == Transparent buttons == */
.btn-transparent {
  position: relative;
  border: 2px solid #E43071;
  color: #E43071;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-transparent:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 10px solid transparent;
  border-radius: 38.5px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-transparent--faq {
    width: 287px;
    height: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-transparent--facilities {
    width: 288px;
    height: 63px;
  }
}
.btn-transparent:hover {
  color: #BE285E;
  border-color: #BE285E;
  background-color: #F7F7FC;
}
.btn-transparent:focus {
  border: 8px solid #FFDAE7;
}
.btn-transparent:focus:before {
  border-color: #BE285E;
}

/* === LOGO === */
.logo {
  font-weight: 800;
  font-size: 21.8182px;
  line-height: 1.0999990833;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 203px;
    font-size: 40px;
    line-height: 1.1;
  }
}
.logo--lyfe {
  color: #FFC1D8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #FFC1D8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.logo:hover .logo--lyfe, .logo:focus .logo--lyfe {
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* === HEADER === */
.header {
  height: 64px;
  background-color: #E43071;
}
@media screen and (min-width: 768px) {
  .header {
    height: 101px;
  }
}
.header__container {
  padding-left: 16px;
  padding-right: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-left: 36px;
    padding-right: 41px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-item:not(:last-child) {
    margin-right: 76px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    text-transform: capitalize;
    color: #FFFFFF;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-link:hover, .header__nav-link:focus {
    color: #FFC1D8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.header__buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search-form {
  margin-right: 25px;
}
@media screen and (min-width: 768px) {
  .header__search-form {
    margin-right: 37px;
  }
}
.header__search-input {
  display: none;
}
.header__search-text {
  margin-right: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .header__search-text {
    display: none;
  }
}
.header__search-icon {
  fill: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__search-button:hover .header__search-icon {
  fill: #FFC1D8;
}
.header__btn-login {
  width: 166px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__btn-login {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__btn-login {
    width: 100px;
  }
}
.header__btn-login:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menu-toggle {
  fill: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #FFC1D8;
}

/* === HERO === */
.hero {
  margin-bottom: 35px;
  height: 423px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 94px;
    height: 697px;
  }
}
.hero__container {
  position: relative;
  height: 100%;
}
.hero__swiper-pagination {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__swiper-pagination {
    margin-bottom: 43px;
  }
}
.hero .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 1;
}
.hero .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}
.hero .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: #E43071;
}
.hero__title {
  position: absolute;
  top: 103px;
  left: 0;
  z-index: 999;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    top: 241px;
    left: 370px;
    width: 700px;
    font-size: 70px;
    line-height: 1.1;
  }
}
.hero__title--lyfe {
  color: #FFC1D8;
}
.hero__btn {
  position: absolute;
  top: 192px;
  left: 160px;
  z-index: 999;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .hero__btn {
    top: 421px;
    left: 720px;
  }
}
.hero__wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .hero__wave {
    bottom: -2px;
  }
}

/* === FAQ === */
.faq__container {
  margin-bottom: 23px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .faq__container {
    margin-bottom: 122px;
    padding-left: 141px;
    padding-right: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.faq__img-wrap {
  position: relative;
  width: 262px;
  height: 313px;
}
@media screen and (max-width: 767px) {
  .faq__img-wrap {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .faq__img-wrap {
    width: 440px;
    height: 503px;
  }
}
.faq__img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .faq__img:nth-child(1) {
    width: 347px;
    height: 399px;
  }
}
.faq__img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@media screen and (min-width: 768px) {
  .faq__img:nth-child(2) {
    width: 241px;
    height: 359px;
  }
}
.faq__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.faq__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #E43071;
}
@media screen and (min-width: 768px) {
  .faq__title {
    margin-bottom: 6px;
    line-height: 1.5;
  }
}
.faq__text {
  margin-bottom: 42px;
  width: 269px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #424242;
}
@media screen and (min-width: 768px) {
  .faq__text {
    margin-bottom: 19px;
    width: 540px;
    line-height: 2.3125;
  }
}

/* === CTA === */
.cta {
  margin-bottom: 74px;
  height: 443px;
}
@media screen and (min-width: 768px) {
  .cta {
    margin-bottom: 224px;
    height: 700px;
  }
}
.cta__container {
  position: relative;
  height: 100%;
}
.cta__swiper {
  width: 320px;
  height: 443px;
}
@media screen and (min-width: 768px) {
  .cta__swiper {
    width: 1440px;
    height: 700px;
  }
}
.cta__swiper-pagination {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .cta__swiper-pagination {
    margin-bottom: 26px;
  }
}
.cta .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 1;
}
.cta .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}
.cta .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: #E43071;
}
.cta__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .cta__text-wrap {
    padding-top: 231px;
  }
}
.cta__title {
  margin-bottom: 25px;
  width: 252px;
  font-weight: 700;
  font-size: 42.4615px;
  line-height: 1.0833343146;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 53.0769px rgba(0, 0, 0, 0.46023);
}
@media screen and (min-width: 768px) {
  .cta__title {
    width: 850px;
    font-size: 60px;
    line-height: 1.5;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46023);
  }
}
.cta__text {
  margin-bottom: 10px;
  width: 257px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .cta__text {
    margin-bottom: 20px;
    width: 433px;
    font-size: 17px;
    line-height: 1.3529411765;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}/*# sourceMappingURL=main.css.map */