/* === FACILITIES === */

.facilities {
  margin-bottom: 28px;

  @include desktop {
    margin-bottom: 108px;
  }  

  &__container {
    padding-left: 16px;
    padding-right: 16px;

    @include desktop {
      padding-left: 155px;
      padding-right: 79px;

      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }    
  }

  &__img-wrap {
    position: relative;

    width: 275px;
    height: 198px;

    @include less-then-tablet {
      margin-bottom: 16px;
    }

    @include desktop {
      width: 572px;
      height: 435px;
    }
  }

  &__img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;

    @include desktop {
      width: 444px;
      height: 296px;
    }
  }

  &__img:nth-child(2) {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;

    @include desktop {
      width: 422px;
      height: 281px;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 13px;

    font-weight: 700;
    font-size: 40px;
    line-height: calc(48 / 40);

    color: $accentColor;

    @include desktop {
      margin-bottom: 4px;

      line-height: calc(60 / 40);
    }
  }

  &__text {
    margin-bottom: 36px;

    width: 269px;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(32 / 16);

    color: $mainColor;

    @include desktop {
      margin-bottom: 19px;

      width: 489px;

      line-height: calc(37 / 16);
    }
  }
}
