/* === HERO === */

.hero {
  margin-bottom: 35px;
  height: 423px;

  @include desktop {
    margin-bottom: 94px;
    height: 697px;
  }

  // Container

  &__container {
    position: relative;

    height: 100%;
  }

  //   Wave over slider

  &__swiper-wave-wrap::after {
    position: absolute;
    left: 0px;
    bottom: -1px;
    z-index: 999;
    content: '';

    @include less-then-desktop {
      width: 340px;
      height: 25px;
      background-image: url(../images/wave/wave-mobile-320.png);
    }

    @include desktop {
      width: 1460px;
      height: 35px;
      background-image: url(../images/wave/wave-desktop-1440.png);
    }

    background-size: cover;
    background-repeat: no-repeat;
  }

  // Slider

  &__swiper-pagination {
    margin-bottom: 28px;
    @include centered;

    @include desktop {
      margin-bottom: 43px;
    }
  }

  & .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $secondColor;
    border-radius: 50%;
    opacity: 1;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  & .swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;
    background-color: $accentColor;
  }

  // Image

  &__img {
    @include desktop {
      width: 1440px;
      height: 697px;
    }
  }

  // Title

  &__title {
    position: absolute;
    top: 103px;
    left: 0;
    z-index: 999;

    font-weight: 700;
    font-size: 32px;
    line-height: calc(36 / 32);
    text-align: center;

    color: $secondColor;

    @include desktop {
      top: 241px;
      left: 370px;

      width: 700px;
      font-size: 70px;
      line-height: calc(77 / 70);
    }

    &--lyfe {
      color: $logoAccentColor;
    }
  }

  //   Button

  &__btn {
    position: absolute;
    top: 192px;
    left: 160px;
    z-index: 999;

    transform: translateX(-50%);

    @include desktop {
      top: 421px;
      left: 720px;
    }
  }
}
