/* == GLOBAL STYLES RESET == */

/* headings and paragraphs */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* responsive images */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* address */ 

address {
  font-style: normal;
}

/* ul */

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */

.btn {
  cursor: pointer;
}

/* a */

.link {
  display: block;

  text-decoration: none;
  color: inherit;
}