// Poppins Regular

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('../fonts/Poppins.eot') url('../fonts/Poppins.eot');
  src: local('☺'), url('../fonts/Poppins.woff') format('woff'),
    url('../fonts/Poppins.ttf') format('truetype'),
    url('../fonts/Poppins.svg') format('svg');
  font-weight: 400 800;
  font-style: normal;
}

// Poppins Semibold

// @font-face {
//   font-family: 'Poppins-SemiBold';
//   font-display: swap;
//   src: url('../fonts/Poppins-SemiBold.eot');
//   src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff'),
//     url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
//     url('../fonts/Poppins-SemiBold.svg') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// // Poppins Bold

// @font-face {
//   font-family: 'Poppins-Bold';
//   font-display: swap;
//   src: url('../fonts/Poppins-Bold.eot');
//   src: local('☺'), url('../fonts/Poppins-Bold.woff') format('woff'),
//     url('../fonts/Poppins-Bold.ttf') format('truetype'),
//     url('../fonts/Poppins-Bold.svg') format('svg');
//   font-weight: 700;
//   font-style: normal;
// }

// // Poppins Extrabold

// @font-face {
//   font-family: 'Conv_Poppins-ExtraBold';
//   font-display: swap;
//   src: url('../fonts/Poppins-ExtraBold.eot');
//   src: local('☺'), url('../fonts/Poppins-ExtraBold.woff') format('woff'),
//     url('../fonts/Poppins-ExtraBold.ttf') format('truetype'),
//     url('../fonts/Poppins-ExtraBold.svg') format('svg');
//   font-weight: 800;
//   font-style: normal;
// }

// Manrope Regular

@font-face {
  font-family: 'Manrope';
  font-display: swap;
  src: url('../../fonts/Manrope.eot');
  src: local('☺'), url('../fonts/Manrope.woff') format('woff'),
    url('../fonts/Manrope.ttf') format('truetype'),
    url('../fonts/Manrope.svg') format('svg');
  font-weight: 400 600;
  font-style: normal;
}

// Manrope Medium

// @font-face {
//   font-family: 'Manrope-Medium';
//   font-display: swap;
//   src: url('../fonts/Manrope-Medium.eot');
//   src: local('☺'), url('../fonts/Manrope-Medium.woff') format('woff'),
//     url('../fonts/Manrope-Medium.ttf') format('truetype'),
//     url('../fonts/Manrope-Medium.svg') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }

// Manrope Semibold

// @font-face {
//   font-family: 'Manrope-SemiBold';
//   font-display: swap;
//   src: url('../fonts/Manrope-SemiBold.eot');
//   src: local('☺'), url('../fonts/Manrope-SemiBold.woff') format('woff'),
//     url('../fonts/Manrope-SemiBold.ttf') format('truetype'),
//     url('../fonts/Manrope-SemiBold.svg') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// OpenSans Semibold

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-display: swap;
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: local('☺'), url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
    url('../fonts/OpenSans-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
