// Mobile screen

@mixin mobile {
  @media screen and (min-width: $minMobile) and (max-width: calc($minTablet - 1px)) {
    @content;
  }
}

// Screens less then tablet

@mixin less-then-tablet {
  @media screen and (max-width: calc($minTablet - 1px)) {
    @content;
  }
}

// Desktop screen

@mixin desktop {
  @media screen and (min-width: $minTablet) {
    @content;
  }
}

// Desktop screen (adaptive)

@mixin adapt-desktop {
  @media screen and (min-width: $minDesktop) {
    @content;
  }
}

// Desktop screen (responsive)

@mixin resp-desktop {
  @media screen and (min-width: $minTablet) and (max-width: calc($minDesktop - 1px)) {
    @content;
  }
}

// Transition

@mixin my-transition($property) {
transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Centered elements with flex

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for pixel-ratio-media-queries (background images)

@mixin pixel-ratio-2x {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
