// === Variables ===

// Fonts
$mainFont: 'Poppins', sans-serif;
$secondFont: 'Manrope', sans-serif;
$additionalFont: 'Open Sans', sans-serif;

// Colors
$mainColor: #424242;
$secondColor: #FFFFFF;
$accentColor: #E43071;
$hoverColor: #BE285E;
$hoverShadowColor: #F7F7FC;
$focusBorderColor: #FFDAE7;
$disabledColor: #D37899;
$logoAccentColor: #FFC1D8;
$reviewsBgGradientColor: #F4E3E9;
$customerTypeColor: #969BAB;
$socialBgColor: #EDEDED;
$footerBgColor: #0B0D17;
$footerTextColor: #D9DBE1;


// Breakpoints
$minMobile: 320px;
$minTablet: 768px;
$minDesktop: 1440px;



