/* === BUTTONS === */

/* == Desktop screen buttons == */

.btn-colored {
  @extend %btn-text;
  @extend %btn-body;
  @extend %btn-border-radius;

  font-family: $additionalFont;

  border: none;

  color: $secondColor;
  background-color: $accentColor;
  @include my-transition(background-color);
  @include my-transition(border);

  &--benefits {
    @include mobile {
        width: 208px;
        height: 56px;
    }
  }

  &--cta {
    @include mobile {
        width: 287px;
        height: 56px;
    }
  }
  
  &:hover {
    background-color: $hoverColor;
  }

  &:focus {
    border: 9px solid $focusBorderColor;
  }
}

.btn-transparent {
  position: relative;
  @extend %btn-text;
  @extend %btn-body;
  @extend %btn-border-radius;

  font-family: $mainFont;

  border: 2px solid $accentColor;

  color: $accentColor;
  background-color: transparent;
  @include my-transition(color);
  @include my-transition(border-color);
  @include my-transition(border);

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 10px solid transparent;
    border-radius: 38.5px;
    @include my-transition(border-color);
  }

  &--faq {
    @include mobile {
        width: 287px;
        height: 60px;
    }
  }

  &--facilities {
    @include mobile {
        width: 288px;
        height: 63px;
    }
  }

  &:hover {
    color: $hoverColor;
    border-color: $hoverColor;
    box-shadow: inset 0 0 30px 5px $hoverShadowColor;
  }

  &:focus {
    border: 8px solid $focusBorderColor;

    &:before {
      border-color: $hoverColor;
    }
  }
}

/* == Mobile screen buttons == */


