/* === CONTAINER === */

.container {
  margin: 0 auto;
  padding: 0;

  @include mobile {
    width: $minMobile;
  }

  // @include resp-desktop {
  //   width: 100vw;
  // }

  @include adapt-desktop {
    width: $minDesktop;
  }
}
